@charset "UTF-8";
/* CSS Document */


/*Nulstilling af body og html tags*/
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    border: 0;
}


/*Styling af header - dvs. navigationen der indeholder logo, menu og søgefelt*/
.navigation {
    width: 100%;
    height: 75px;
    background: white;
    opacity: 0.9;
    position: fixed;
    top: 0;
    z-index: 100;
    text-align: right;
}
	
	/*Styling af logo*/
	#sweetbotlogo {
    	float: left;
    	height: 75px;
    	width: auto;
    	margin-top: 0;
    	margin-left: 0;
	}

	/*Styling af menuen*/
	#header-a, #header-b, #header-c, #header-d, #header-e {
   		text-decoration: none;
    	color: grey;
    	font-size: 15px;
    	line-height: 5em;
    	position: relative;
    	margin-right: 50px;
    	z-index: 100;
	}
	#header-a:hover, #header-b:hover, #header-c:hover, #header-d:hover, #header-e:hover {
    	color: black;
	}

	
	/*Styling af dropdown funktionen til søgefeltet*/
	.dropbtn {
    	background-color: white;
    	border: none;
    	margin-top: 20px;
    	margin-right: 10px;
	}
	.dropbtn:hover, .dropbtn:focus {
    	background-color: none;
	}
	.dropdown {
    	float: right;
    	position: relative;
    	display: inline-block;
	}
	.dropdown-content {
    	display: none;
    	position: absolute;
    	top: 60px;
    	min-width: 160px;
    	overflow: auto;
    	right: 0;
    	z-index: 1;
	}
	.dropdown-content a {
    	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
	}
	.dropdown a:hover {
    	background-color: #ddd;
	}
	.show {
    	display: block;
	}

	/*Styling af søgefunktionsknappen - tip: det er den som indeholder et forstørrelsesglas */
	.search {
    	width: auto;
    	height: 38px;
    	float: right;
    	margin-right: 5px;
	}

	/*Styling af søgefeltet*/
	.search-form {
    	margin: 2px;
    	float: right;    
	    display: inline-flex;
	}
	input[type=text] {
    	padding: 7px;
    	outline: .5px solid grey;
    	font-size: 16px;
    	font-family: sans-serif;
	}
	button {
    	float: right;
    	color: black;
    	border: none;
    	border-radius: 3px;
    	cursor: pointer;
    	height: 36px;
    	width: 60px;
    	outline: 1px solid grey;
		margin-right: 8px;
	}


/* Styling af slideshowet */
#slideshow { 
    position: relative;
    width: 70vw;
    height: 100vh;
	overflow: hidden;
	margin-left: 25%;
	margin-bottom: 3%;
}
	/*Styling af billederne i styleshowet*/
	.img-slide {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	
	/*Styling af de div elementer, som har slideshowets div som forældreelement*/
	#slideshow > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}


/*Styling af hotbotbanner der ligger oven på slideshowet*/
#hotbotE {
	display: block;
	position: absolute;
	top:13%;
	margin-left: 3%;
	margin-bottom: 3%;
}
#hotbotE > img {
	height: 87vh;
}


/*Generel styling af services-, projekter- og om os sektionerne*/
.Services-light {
    background-color: #B5B2B0;
	border-top: 1px;
	border-top-color: black;
    padding-top: 1%;
    padding-bottom: 2.5%;
    opacity: 0.8;
}
h2 {
    text-align: center;
}
	/*Styling af tekst i services- og projekter-sektionen*/
	.textlorem {
    	text-align: left;
    	margin-left: 1%;
    	column-count: 3;
	}


/*Styling af services-sektionen*/
#services{
	border-top: 1px solid black;
}

#services-img {
    margin-top: 20px;
}
#services-img .box {
	float:left;
	text-align: center;
	width:30%;
	padding: 10px;
	
}
#services-img .box img {
	width:330px;
}

/* overlay til webudvikling billede */
#weboverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
}
#text{
    position: absolute;
    top: 50%;
    left: 52%;
    font-size: 50px;
    color: white;
    -ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.webudviklingoverlay{
	position: absolute;
	margin-top: 7%;
	margin-left: 7%;
	background: #C9DB50;
	font-size: 20px;
	color: white;
	width:auto;
	border: none;	
}

/* overlay til digital security billede */
#secoverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
}
#sectext{
    position: absolute;
    top: 50%;
    left: 52%;
    font-size: 50px;
    color: white;
    -ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.securityoverlay{
	position: absolute;
	margin-top: 7%;
	margin-left: 7%;
	background: #C9DB50;
	font-size: 20px;
	color: white;
	width:auto;
	border: none;	
}

/* overlay til branding billede */
#brandoverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
}
#brandtext{
    position: absolute;
    top: 50%;
    left: 52%;
    font-size: 50px;
    color: white;
    -ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.brandoverlay{
	position: absolute;
	margin-top: 7%;
	margin-left: 7%;
	background: #C9DB50;
	font-size: 20px;
	color: white;
	width:auto;
	border: none;	
}


/*Styling af Projekter-sektionen*/
#Projekter {
	margin-top: 22%;
	border-top: 1px solid black;
}

/*Styling af projektbilleder*/
.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.pic2 img, .pic3 img, .pic4 img, .pic5 img, .pic6 img, .pic7 img {
    width: 30vw;
    height: 300px;
    position: relative;
    padding: 30px;
	margin-left: 40%;
}

		/* overlay*/
		.flex-container div img {
    		position: relative;
    		overflow: hidden;
    		max-width: 100%;
    		transition: transform 2s;
		}
		.flex-container div img:hover {
    		transform: scale(1.1);
		}


/*Styling af Om-os-sektionen*/
#Om-os{
	border-top: 1px solid black;
}
.textlorem1 {
    column-count: 2;
}

/*Styling af CEO billeder og tekst til Om os-sektionen*/
#CEO {
	margin-top:20px;
	display: flex;
}
#CEO .ceobox {
	width: 30%;
	text-align: center;
	margin-left: 13%;
}
#CEO .ceobox img {
	height: 270px;
}


/*Styling af Kontakt-sektionen*/
footer {
    background-color: #B5B2B0;
    border-left: solid black;
    padding-top: 2px;
	border-top: 1px solid black;
}
.kontakt {
    text-align: center;
    padding-bottom: 2%;
}

.klassiske-ikoner {
    display: inline-block;
	width: 36%;
	margin-left: 30%
}
ul {
    list-style-type: none;
}
.klassisk-ikon {
	height: 60px;
	width: auto;
	position: relative;
	float: left;
	clear: left;
}
.ia{
	margin-right: 27%;
}
.ib{
	margin-right: 12%;
}
.id{
	margin-right: 5.5%;
}
.ikontext{
	position: relative;
	float: right;
	clear: right;
}

.footercontact2 {
	width:auto;
    margin-left: 40%;
	display: inline-block;
}
hr {
	width: 50%
}
.facebook, .Linkedin, .Instagram, .Twitter {
	height: 70px;
}


/* Burger menu til mobile first */
#burgermenu{
	display:none;
}
.burger-button{
	background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
  	border: 0;
    cursor: pointer;
}
.burgerdown{
	position: relative;
    display: block;
	float: right;
	color: #B5B2B0;
	
}
.burger-content{
	display: none;
    position: inherit;
    background-color: #ddd;
    min-width: 10%;
    box-shadow: 0px 8px 8px 0px rgba(147,147,147,0.05);
    z-index: 1;
}
.burger-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;  
}
.burger-content a:hover{
	Background-color: #B5B2B0; 
}
.burgerdown:hover .burger-content{
	display: block;
}
.burgerdown:hover .burger-button{
	background-color: none;
	position: relative;
}
/* ------------ - --------------- */

@media(min-width: 570px) 
	and (max-width : 1024px) {
		
	#header-a, #header-b, #header-c, #header-d, #header-e {
		display: none;
		}
		
		#sweetbotlogo {
			height: 70px
		}
		.navigation {
    width: 100%;
	height: 70px;
}
		#hotbotE {
		margin-left: -10%;
	}
		#burgermenu {
		display: block;
		margin-right: 90px;
			margin-top: 15px;
		padding: 0 5px;
		
	}
		#services-img {
		width:auto;
		padding: 5px;
		margin: 5px;
		
	}
		.webudviklingoverlay {
			margin-top: 11%
		}
		#Projekter {
			margin-top: 25%
		}
		.pic2, .pic3, .pic4, .pic5, .pic6, .pic7 {
		height: 150px;
		width: auto;
		
		margin-bottom: 25%;
	
	}
		.flex-container {
			width:90%;
			margin-left: 25%
		}
		
		.footercontact {
			width:auto;
		}
}



















@media(max-width : 568px ) {
.navigation {
    width: 100%;
	height: 50px;
}
	
	#header-a, #header-b, #header-c, #header-d, #header-e {
		display: none;
	}
#slideshow {
    display: none;
}
	
	
	#hotbotE {
		display: none;
	}
	
	.tlf-billede {
		background-image: url("images_and_ikones/hot_bot_logo_alene.png");
		width:auto;
		height: 450px;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#services-img {
		display:block;
	}
	
	
	
	#services-img {
		width:17%;
		margin-left: 9%
		
	}
	
	.webudviklingoverlay {
		position: absolute;
		margin-top: 20%;
		margin-left: 20%
	}
	
	#Projekter {
		margin-top: 180%;
	}
	
	.pic2, .pic3, .pic4, .pic5, .pic6, .pic7 {
		height: 200px;
		width: auto;
		
		margin-bottom: 30%;
	
	}
	
	#Om-os{
		padding: 0;
	}
#sweetbotlogo {
	width: auto;
	height: 50px;
}

	.dropbtn {
		margin-top: 5px;
		
	}
	
	#burgermenu {
		display: block;
		margin-right: 90px;
		padding: 0 5px;
		
	}
	
	.footercontact {
		width: auto;
	}

	.footercontact2 {
		margin-left:-20%
	}
	
	
	
	
	
}
