@charset "utf-8";
/* CSS Document */

/* Styling af iphone slideshow */
	.smartslide { 
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
		margin-left: 25%;
		margin-bottom: 3%;
		display:none;
	}
	/*Styling af billederne i styleshowet*/
	.smartpicture {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	
	/*Styling af de div elementer, som har slideshowets div som forældreelement*/
	.smartslide > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}




/* Styling af tablet slideshow */
	.tabslide { 
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
		margin-left: 25%;
		margin-bottom: 3%;
		display: none;
	}
	/*Styling af billederne i styleshowet*/
	.tabpicture {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	
	/*Styling af de div elementer, som har slideshowets div som forældreelement*/
	.tabslide > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}


/* Styling af landscape tablet version one slideshow */
	.landslide { 
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
		margin-left: 25%;
		margin-bottom: 3%;
		display: none;
	}
	/*Styling af billederne i styleshowet*/
	.landpicture {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	
	/*Styling af de div elementer, som har slideshowets div som forældreelement*/
	.landslide > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}



/* Styling af landscape tablet version two slideshow */
	.laptopslide { 
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
		margin-left: 25%;
		margin-bottom: 3%;
		display: none;
	}
	/*Styling af billederne i styleshowet*/
	.laptoppicture {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	
	/*Styling af de div elementer, som har slideshowets div som forældreelement*/
	.laptopslide > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}