@charset "utf-8";
/* CSS Document */

/*Import af fonttyperne raleway og lato*/
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

/*Nulstilling*/
*{
	padding: 0;
	border: 0;
	margin: 0;
}

/*Generel styling*/
	.branding{
		width: inherit;
		display: inline-flex;
	}
	.cph-type{
		font-family: raleway, sans-serif;
		font-style: normal;
		font-size: 31;
	}
	nav{
		display: none;
	}

/*Styling af søgefunktionen*/
	.lup-picturebox {
    	background-color: white;
    	border: none;
    	margin-top: 20px;
    	margin-right: 10px;
		outline: none;
	}
	.lup-picturebox:hover, .lup-picturebox:focus {
    	background-color: none;
	}
	.searchfunction {
    	float: right;
    	position: relative;
    	display: inline-block;
	}
	.searchfield {
    	display: none;
    	position: absolute;
    	top: 60px;
    	min-width: 160px;
    	overflow: auto;
    	right: 0;
    	z-index: 1;
	}
	.searchfield a {
    	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
	}
	.searchfunction a:hover {
    	background-color: #ddd;
	}
	.show {
    	display: block;
	}

	/*Styling af søgefunktionsknappen - tip: det er den som indeholder et forstørrelsesglas */
	.search-lup {
    	width: auto;
    	height: 38px;
    	float: right;
    	margin-right: 5px;
	}

	/*Styling af søgefeltet*/
	.search-form {
    	margin: 2px;
    	float: right;    
	    display: inline-flex;
	}
	input[type=text] {
    	padding: 7px;
    	outline: .5px solid grey;
    	font-size: 16px;
    	font-family: sans-serif;
	}
	button {
    	float: right;
    	color: black;
    	border: none;
    	border-radius: 3px;
    	cursor: pointer;
    	height: 36px;
    	width: 60px;
    	outline: 1px solid grey;
		margin-right: 8px;
	}
/*Generel styling slut*/

/*Desktop version - det vil sige over 1600 px*/
@media screen and (min-width: 1600px){
	
}
/*Laptop version - det vil sige under 1600 px*/
@media screen and (max-width: 1600px){
	
}
/*Landscape version - det vil sige under 1024 px*/
@media screen and (max-width: 1024px){
	
}
/*Tablet version - det vil sige under 768 px*/
@media screen and (max-width: 768px){
	
}
/*SmartPhone version - det vil sige under 480 px*/
@media screen and (max-width: 480px){
	
}