@charset "utf-8";
/* CSS Document */

/*Import af fonttyperne raleway og lato*/
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

/*Nulstilling*/
*{
	padding: 0;
	border: none;
	margin: 0;
}

/*Slideshows kun gældende for index*/
	/* Smartphone slideshow */
	.smartslide { 
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
		margin-left: 25%;
		margin-bottom: 3%;
		display:none;
	}
	/*Styling af billederne i styleshowet*/
	.smartpicture {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	/*Styling af de div elementer, som har slideshowets div som forældreelement*/
	.smartslide > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}

	/* Tablet slideshow */
	.tabslide { 
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
		margin-left: 25%;
		margin-bottom: 3%;
		display: none;
	}
	.tabpicture {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	.tabslide > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}

	/* Landscape tablets slideshow */
	.landslide { 
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
		margin-left: 25%;
		margin-bottom: 3%;
		display: none;
	}
	.landpicture {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	.landslide > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}
	/* Laptop slideshow*/
	.laptopslide { 
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
		margin-left: 25%;
		margin-bottom: 3%;
		display: none;
	}
	.laptoppicture {
    	width: 70vw;
    	height: 100vh;
    	display: block;
	}
	.laptopslide > div {
   		position: absolute;
   		width: 70vw;
		top: 13%;
	}

/*Generel styling*/
	.branding{
		width: inherit;
		display: inline-flex;
	}
	.logo{
		width: 45px;
		height: 55px;
		position: absolute;
		left: 1%;
		top: 1%;
	}
	.cph-type{
		font-family: raleway, sans-serif;
		font-size: 0.8125em; /*13px/16px = 0,8125em*/
		margin-top: 2.7vh;
		margin-left: 12.5vw;
		position: absolute;
		color: #414040;
	}
	.cph-type:visited{
		color: #414040;
	}
	header{
		width: 100vw;
	}
	nav{
		display: none;
	}
	.burgernavigation{
		display: none;
	}

/*Burgermenu*/
	.burgerikon{
		width: inherit;
		height: inherit;
	}
	.burger-button{
		background-color: transparent;
		padding: 0;
		border: none;
		margin: 0;
		width: 50px;
		height: 35px;
	}
	.burgermenu{
		float: right;
    	position: relative;
		top: 2vh;
	}
	.burger-content{
		display: none;
		position: absolute; 
		right: 0;
		background-color: white;
		min-width: 80px;
		box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.3);
		z-index: 1;
	}
	.burger-content a{
		color: #414040;
		padding: 12px 16px;
		display: block;
		/*Overvej float:right*/
	}
	.burger-content a:hover{
		Background-color: rgba(83, 82, 82, 0.3); 
	}
	.burgermenu:hover .burger-content{
		display:inline-block;
	}
	

/*Styling af søgefunktionen*/
	.lup-picturebox {
    	background-color: white;
    	border: none;
    	margin-top: 2vh;
		outline: none;
	}
	.lup-picturebox:hover, .lup-picturebox:focus {
    	background-color: none;
	}
	.searchfunction {
    	float: right;
    	position: relative;
    	display: inline;
	}
	.searchfield {
    	display: none;
    	position: absolute;
    	top: 60px;
    	min-width: 160px;
    	overflow: auto;
    	right: 0;
    	z-index: 1;
	}
	.searchfield a {
    	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
	}
	.searchfunction a:hover {
    	background-color: #ddd;
	}
	.show {
    	display: block;
	}

	/*Styling af søgefunktionsknappen - tip: det er den som indeholder et forstørrelsesglas */
	.search-lup {
    	width: 35px;
    	height: auto;
    	float: right;
	}

	/*Styling af søgefeltet og søgknappen*/
	.search-form {
    	margin: 2px;
    	float: right;    
	    display: inline-flex;
	}
	input[type=text] {
    	padding: 7px;
    	outline: .5px solid grey;
    	font-size: 16px;
    	font-family: sans-serif;
	}
	.lup-picturebox, #search-button {
    	float: right;
    	color: black;
    	border: none;
    	border-radius: 3px;
    	cursor: pointer;
    	height: 36px;
    	width: 60px;
		margin-right: 8px;
	}

/*Desktop version - det vil sige over 1600 px*/
@media screen and (min-width: 1200px){
		body{
		background-image: url("images/baggrunde/laptop-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 1220px 580px;
		width: 100vw;
		height: 100vh;
	}
	nav{
		display: inline-flex;
	}
	.soegefelt{
		display: inline-flex;
		position: absolute;
		float: right;
		right: 1%;
	}
	/*Tilpasning af positioneringen af søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 3vh;
		margin-left: 4.8vw;
	}
	.lup-picturebox{
		margin-top: 0.2vh;
		width: inherit;
		margin-right: 3vw;
	}
	.lup-picturebox:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Styling af hovednavigationen*/
	nav{
		position: relative;
		float: right;
		right: 8vw;
		top: 4vh;
	}
	nav a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 1em; /*1em = 16px*/
		font-weight: 700;
		text-decoration: none;
		margin: 0;
	}
	nav a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.home, .projects, .mig, .contact{
		border-right: 1px solid #717070;
	}
	.streg{
		border-bottom: 2px solid #717070;
		width: 97vw;
		position: relative;
		display: flex;
		left: 1vw;
		top: 4.3vh;
	}
	/* Laptop slideshow*/
	.laptopslide { 
		display: contents;
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
	}
	.laptoppicture {
    	width: 100vw;
    	height: 89vh;
    	display: block;
	}
	.laptopslide > div {
   		position: absolute;
   		width: 70vw;
		top: 10.7vh;
	}
}
/*Laptop version - det vil sige under 1200 px*/
@media screen and (min-width: 1025px) and (max-width: 1200px){
	body{
		background-image: url("images/baggrunde/laptop-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 1220px 580px;
		width: 100vw;
		height: 100vh;
	}
	nav{
		display: inline-flex;
	}
	.soegefelt{
		display: inline-flex;
		position: absolute;
		float: right;
		right: 1%;
	}
	/*Tilpasning af positioneringen af søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 3vh;
		margin-left: 5.5vw;
	}
	.lup-picturebox{
		margin-top: 0.2vh;
		width: inherit;
		margin-right: 3vw;
	}
	.lup-picturebox:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Styling af hovednavigationen*/
	nav{
		position: relative;
		float: right;
		right: 8vw;
		top: 4vh;
	}
	nav a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 1em; /*1em = 16px*/
		font-weight: 700;
		text-decoration: none;
		margin: 0;
	}
	nav a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.home, .projects, .mig, .contact{
		border-right: 1px solid #717070;
	}
	.streg{
		border-bottom: 2px solid #717070;
		width: 97vw;
		position: relative;
		display: flex;
		left: 1vw;
		top: 4.3vh;
	}
	/* Laptop slideshow*/
	.laptopslide { 
		display: contents;
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
	}
	.laptoppicture {
    	width: 100vw;
    	height: 89vh;
    	display: block;
	}
	.laptopslide > div {
   		position: absolute;
   		width: 70vw;
		top: 10.7vh;
	}
}
/*Landscape version two - det vil sige under 1024 px*/
@media screen and (min-width:808px) and (max-width: 1024px){
	body{
		background-image: url("images/baggrunde/tablet-landscape-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 650px 508px;
		width: 100vw;
		height: 100vh;
	}
	nav{
		display: inline-flex;
	}
	.soegefelt{
		display: inline-flex;
		position: absolute;
		float: right;
		right: 1%;
	}
	/*Tilpasning af positioneringen af søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 2.7vh;
		margin-left: 7.5vw;
	}
	.lup-picturebox{
		margin-top: 0.2vh;
		width: 100%;
	}
	.lup-picturebox:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Styling af hovednavigationen*/
	nav{
		position: relative;
		float: right;
		right: 8vw;
		top: 4vh;
	}
	nav a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 1em; /*1em = 16px*/
		font-weight: 700;
		text-decoration: none;
	}
	nav a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.home, .projects, .mig, .contact{
		border-right: 1px solid #717070;
	}
	.streg{
		border-bottom: 2px solid #717070;
		width: 97vw;
		position: relative;
		display: flex;
		left: 1vw;
		top: 4.4vh;
	}
	/*Slideshow */
	.laptopslide { 
		display: contents;
    	position: relative;
    	width: 70vw;
    	height: 100vh;
		overflow: hidden;
	}
	.laptoppicture {
    	width: 100vw;
    	height: 89vh;
    	display: block;
	}
	.laptopslide > div {
   		position: absolute;
   		width: 70vw;
		top: 10.7vh;
	}
}
/*Landscape version one - det vil sige under 808 px*/
@media screen and (min-width:769px) and (max-width: 807px){
	body{
		background-image: url("images/baggrunde/tablet-landscape-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 650px 508px;
		width: 100vw;
		height: 100vh;
	}
	nav{
		display: inline-flex;
	}
	.soegefelt{
		display: inline-flex;
		position: absolute;
		float: right;
		right: 1%;
	}
	/*Tilpasning af positioneringen af søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 2.7vh;
		margin-left: 7.5vw;
	}
	.lup-picturebox{
		margin-top: 0.2vh;
		width: 100%;
	}
	.lup-picturebox:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Styling af hovednavigationen*/
	nav{
		position: relative;
		float: right;
		right: 8vw;
		top: 4vh;
	}
	nav a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 1em; /*1em = 16px*/
		font-weight: 700;
		text-decoration: none;
	}
	nav a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.home, .projects, .mig, .contact{
		border-right: 1px solid #717070;
	}
	.streg{
		border-bottom: 2px solid #717070;
		width: 97vw;
		position: relative;
		display: flex;
		left: 1vw;
		top: 4.4vh;
	}
	/*Slideshow */
	.landslide { 
		display: contents;
    	position: relative;
		width: 70vw;
		height: 100vh;
		overflow: hidden;
	}
	.landpicture {
    	width: 100vw;
    	height: 89vh;
		display: block;
	}
	.landslide > div {
   		position: absolute;
		width: 70vw;
		top: 11vh;
	}
}
/*Tablet version - det vil sige under 768 px men over 576 px*/
@media screen and (min-width: 576px) and (max-width: 768px){
	/*Indsættelse af baggrund og tilpasning*/
	body{
		background-image: url("images/baggrunde/tablet-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 600px 508px;
		width: 100vw;
		height: 100vh;
	}
	/*Synliggør burgermenu og søgefelt*/
	.burgernavigation{
		display: contents;
	}
	.soegefelt{
		display: contents;
	}
	/*usynliggør streg og subnavigation*/
	.streg{
		display: none;
	}
	.subnavigation{
		display: none;
	}
	/*Tilpasning af positioneringen af burgermenuen, søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 2.7vh;
		margin-left: 9.5vw;
	}
	/*Slideshow*/
	.tabslide { 
		display: contents;
    	position: relative;
		width: 70vw;
		height: 100vh;
		overflow: hidden;
	}
	.tabpicture {
    	width: 98vw;
    	height: 88vh;
		display: block;
		margin-left: 1vw;
	}
	.tabslide > div {
   		position: absolute;
		width: 70vw;
		top: 11vh;
	}
	/*Justering af positionering af burgermenu og søgefelt*/
	.lup-picturebox{
		margin-top: 1vh;
		width: inherit;
	}
	.lup-picturebox:hover, .burgermenu:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.burgermenu{
		top: 1vh;
		right: 2vw;
	}
}
/*Mini tablet version - det vil sige under 575 px men over 480 px*/
@media screen and (min-width: 480px) and (max-width: 575px){
	/*Indsættelse af baggrund og tilpasning*/
	body{
		background-image: url("images/baggrunde/tablet-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 450px 508px;
		width: 100vw;
		height: 100vh;
	}
	/*Synliggør burgermenu og søgefelt*/
	.burgernavigation{
		display: contents;
	}
	.soegefelt{
		display: contents;
	}
	/*usynliggør streg og subnavigation*/
	.streg{
		display: none;
	}
	.subnavigation{
		display: none;
	}
	/*Tilpasning af positioneringen af burgermenuen, søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 2.7vh;
		margin-left: 11vw;
	}
	.lup-picturebox{
		margin-top: 0.5vh;
		width: inherit;
	}
	.burgermenu{
		top: 1vh;
		right: 2vw;
	}
	.lup-picturebox:hover, .burgermenu:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Slideshow*/
	.tabslide { 
		display: contents;
    	position: relative;
		width: 70vw;
		height: 100vh;
		overflow: hidden;
	}
	.tabpicture {
    	width: 98vw;
    	height: 88vh;
		display: block;
		margin-left: 1vw;
	}
	.tabslide > div {
   		position: absolute;
		width: 70vw;
		top: 11vh;
	}
}
/*SmartPhone version - det vil sige under 480 px*/
@media screen and (max-width: 479px){
	/*Indsættelse af baggrund og styling til ingen gentagelser*/
	body{
		background-image: url("images/baggrunde/iphone-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 400px 500px;
		width: 100vw;
		height: 100vh;
	}
	/*Synliggør burgermenu og søgefunktion*/
	.burgernavigation{
		display: contents;
	}
	.soegefelt{
		display: contents;
	}
	/*usynliggør streg og subnavigation*/
	.streg{
		display: none;
	}
	.subnavigation{
		display: none;
	}
	/*Slideshow*/
	.smartslide { 
		display: contents;
    	position: relative;
		width: 70vw;
		height: 100vh;
		overflow: hidden;
	}
	.smartpicture {
    	width: 98vw;
    	height: 88vh;
		display: block;
		margin-left: 1vw;
	}
	.smartslide > div {
   		position: absolute;
		width: 70vw;
		top: 11vh;
	}
	/*Burgermenu og søgefunktion*/
	.lup-picturebox{
		margin-right: 5vw;
		margin-top: 0.5vh;
		width: inherit;
	}
	.burgermenu{
		top: 1vh;
		right: 2vw;
	}
	.lup-picturebox:hover, .burgermenu:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
}