@charset "utf-8";
/* CSS Document */

/*Import af fonttyperne raleway og lato*/
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

/*Nulstilling*/
*{
	padding: 0;
	border: none;
	margin: 0;
}

/*Generel styling*/
	.branding{
		width: inherit;
		display: inline-flex;
	}
	.logo{
		width: 45px;
		height: 55px;
		position: absolute;
		left: 1%;
		top: 1%;
	}
	.cph-type{
		font-family: raleway, sans-serif;
		font-size: 0.8125em; /*13px/16px = 0,8125em*/
		margin-top: 2.7vh;
		margin-left: 12.5vw;
		position: absolute;
		color: #414040;
	}
	.cph-type:visited{
		color: #414040;
	}
	header{
		width: 100vw;
	}
	nav{
		display: none;
	}
	.burgernavigation{
		display: none;
	}

/*Burgermenu*/
	.burgerikon{
		width: inherit;
		height: inherit;
	}
	.burger-button{
		background-color: transparent;
		padding: 0;
		border: none;
		margin: 0;
		width: 50px;
		height: 35px;
	}
	.burgermenu{
		float: right;
    	position: relative;
		top: 2vh;
	}
	.burger-content{
		display: none;
		position: absolute; 
		right: 0;
		background-color: white;
		min-width: 80px;
		box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.3);
		z-index: 1;
	}
	.burger-content a{
		color: #414040;
		padding: 12px 16px;
		display: block;
		/*Overvej float:right*/
	}
	.burger-content a:hover{
		background-color: rgba(131, 0, 0, 0.3); 
	}
	.burgermenu:hover .burger-content{
		display:inline-block;
	}
	

/*Styling af søgefunktionen*/
	.lup-picturebox {
    	background-color: white;
    	border: none;
    	margin-top: 2vh;
		outline: none;
	}
	.lup-picturebox:hover, .lup-picturebox:focus {
    	background-color: none;
	}
	.searchfunction {
    	float: right;
    	position: relative;
    	display: inline;
	}
	.searchfield {
    	display: none;
    	position: absolute;
    	top: 60px;
    	min-width: 160px;
    	overflow: auto;
    	right: 0;
    	z-index: 1;
	}
	.searchfield a {
    	color: black;
    	padding: 12px 16px;
    	text-decoration: none;
    	display: block;
	}
	.searchfunction a:hover {
    	background-color: #ddd;
	}
	.show {
    	display: block;
	}

	/*Styling af søgefunktionsknappen - tip: det er den som indeholder et forstørrelsesglas */
	.search-lup {
    	width: 35px;
    	height: auto;
    	float: right;
	}

	/*Styling af søgefeltet og søgknappen*/
	.search-form {
    	margin: 2px;
    	float: right;    
	    display: inline-flex;
	}
	input[type=text] {
    	padding: 7px;
    	outline: .5px solid grey;
    	font-size: 16px;
    	font-family: sans-serif;
	}
	.lup-picturebox, #search-button {
    	float: right;
    	color: black;
    	border: none;
    	border-radius: 3px;
    	cursor: pointer;
    	height: 36px;
    	width: 60px;
		margin-right: 8px;
	}

/*Styling af grid og dets indhold*/
	/*Portfolio opbyning*/
.portfolio{
	width: 16.66vw;
	height: 16.66vh;
	outline: 3px solid #717070;
	background: white;
	position: absolute;
	top: 25vh;
}
.portfolio:hover{
	border: 1px solid #330000;
}
.screenshot{
	width: 11vw;
	height: 12vh;
	position: relative;
	left: 2.8vw;
	top: 0.5vh;
	border: 1px solid #717070;
}
.p-link{
	font-family: raleway, sans-serif;
	font-size: 0.8125em;
	text-decoration: none;
	font-weight: 700;
	color: #414040;
	position: relative;
	display: inline-flex;
	left: 3.8vw;
}

	/*Branding*/
.brands{
	width: 16.66vw;
	height: 33.33vh;
	outline: 3px solid #717070;
	background: white;
	position: absolute;
	top: 25vh;
}
.brands:hover{
	border: 1px solid #330000;
}
.m{
	width: 12vw;
	height: 28vh;
	position: relative;
	left: 2.1vw;
	top: 0.5vh;
	border: 1px solid #717070;
}
.b-link{
	font-family: raleway, sans-serif;
	font-size: 0.8125em;
	text-decoration: none;
	font-weight: 700;
	color: #414040;
	position: relative;
	display: inline-flex;
	left: 6.0vw;
	top: 0.5vh;
}

	/*Online løsninger*/
.solutions{
	width: 33.33vw;
	height: 16.66vh;
	outline: 3px solid #717070;
	background: white;
	position: absolute;
	top: 25vh;
}
.solutions:hover{
	border: 1px solid #330000;
}
.sweetbot{
	width: 26vw;
	height: 12vh;
	position: relative;
	left: 3.3vw;
	top: 0.5vh;
	border: 1px solid #717070;
}
.o-link{
	font-family: raleway, sans-serif;
	font-size: 0.8125em;
	text-decoration: none;
	font-weight: 700;
	color: #414040;
	position: relative;
	display: inline-flex;
	left: 12.5vw;
	top: 0.2vh;
}

	/*Fotografier*/
.fotografi{
	width: 16.66vw;
	height: 16.66vh;
	outline: 3px solid #717070;
	background: white;
	position: absolute;
	top: 68.88vh;
}
.fotografi:hover{
	border: 1px solid #330000;
}
.kamera{
	width: 7.5vw;
	height: 12vh;
	position: relative;
	left: 5vw;
	top: 0.5vh;
}
.f-link{
	font-family: raleway, sans-serif;
	font-size: 0.8125em;
	text-decoration: none;
	font-weight: 700;
	color: #414040;
	position: relative;
	display: inline-flex;
	right: 2vw;
	top: 3.2vh;
}

	/*Applikationer*/
.applikation{
	width: 16.66vw;
	height: 33.33vh;
	outline: 3px solid #717070;
	background-color: white; 
	position: absolute;
	top: 51.88vh;
}
.applikation:hover{
	border: 1px solid #330000;
}
.myhome{
	width: 11vw;
	height: 28vh;
	position: relative;
	left: 2.8vw;
	top: 0.5vh;
	border: 1px solid #717070;
}
.a-link{
	font-family: raleway, sans-serif;
	font-size: 0.8125em;
	text-decoration: none;
	font-weight: 700;
	color: #414040;
	position: relative;
	display: inline-flex;
	left: 5.2vw;
}

/*Desktop version - det vil sige over 1600 px*/
@media screen and (min-width: 1280px){
		body{
		background-image: url("../images/baggrunde/laptop-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 1220px 580px;
		width: 100vw;
		height: 100vh;
	}
	nav{
		display: inline-flex;
	}
	.soegefelt{
		display: inline-flex;
		position: absolute;
		float: right;
		right: 1%;
	}
	/*Tilpasning af positioneringen af søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 3vh;
		margin-left: 5vw;
	}
	.lup-picturebox{
		margin-top: 0.2vh;
		width: inherit;
		margin-right: 3vw;
	}
	.lup-picturebox:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Styling af hovednavigationen*/
	nav{
		position: relative;
		float: right;
		right: 8vw;
		top: 4vh;
	}
	nav a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 1em; /*1em = 16px*/
		font-weight: 700;
		text-decoration: none;
		margin: 0;
	}
	nav a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.home, .projects, .mig, .contact{
		border-right: 1px solid #717070;
	}
	/*Styling af subnavigationen*/
	.subnavigation{
		position: relative;
		float: right;
		left: 14.45vw;
		top: 8vh;
	}
	.subnavigation a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 0.8125em; /*0.8125em = 13px*/
		text-decoration: none;
		margin: 0;
	}
	.subnavigation a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.brand, .fotos, .apps, .online{
		border-left: 1px solid #717070;
	}
	.streg{
		border-bottom: 2px solid #717070;
		width: 97vw;
		position: relative;
		display: flex;
		left: 1vw;
		top: 4.3vh;
	}
}
/*Laptop version - det vil sige under 12800 px*/
@media screen and (min-width: 1025px) and (max-width: 1280px){
	body{
		background-image: url("../images/baggrunde/laptop-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 1220px 580px;
		width: 100vw;
		height: 100vh;
	}
	nav{
		display: inline-flex;
	}
	.soegefelt{
		display: inline-flex;
		position: absolute;
		float: right;
		right: 1%;
	}
	/*Tilpasning af positioneringen af søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 3vh;
		margin-left: 5vw;
	}
	.lup-picturebox{
		margin-top: 0.2vh;
		width: inherit;
		margin-right: 3vw;
	}
	.lup-picturebox:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Styling af hovednavigationen*/
	nav{
		position: relative;
		float: right;
		right: 8vw;
		top: 4vh;
	}
	nav a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 1em; /*1em = 16px*/
		font-weight: 700;
		text-decoration: none;
		margin: 0;
	}
	nav a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.home, .projects, .mig, .contact{
		border-right: 1px solid #717070;
	}
	/*Styling af subnavigationen*/
	.subnavigation{
		position: relative;
		float: right;
		left: 14.45vw;
		top: 8vh;
	}
	.subnavigation a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 0.8125em; /*0.8125em = 13px*/
		text-decoration: none;
		margin: 0;
	}
	.subnavigation a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.brand, .fotos, .apps, .online{
		border-left: 1px solid #717070;
	}
	.streg{
		border-bottom: 2px solid #717070;
		width: 97vw;
		position: relative;
		display: flex;
		left: 1vw;
		top: 4.3vh;
	}
}
/*Landscape version two - det vil sige under 1024 px*/
@media screen and (min-width:808px) and (max-width: 1024px){
	body{
		background-image: url("../images/baggrunde/tablet-landscape-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 650px 508px;
		width: 100vw;
		height: 100vh;
	}
	nav{
		display: inline-flex;
	}
	.soegefelt{
		display: inline-flex;
		position: absolute;
		float: right;
		right: 1%;
	}
	/*Tilpasning af positioneringen af søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 2.7vh;
		margin-left: 7.5vw;
	}
	.lup-picturebox{
		margin-top: 0.2vh;
		width: 100%;
	}
	.lup-picturebox:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Styling af hovednavigationen*/
	nav{
		position: relative;
		float: right;
		right: 8vw;
		top: 4vh;
	}
	nav a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 1em; /*1em = 16px*/
		font-weight: 700;
		text-decoration: none;
	}
	nav a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.home, .projects, .mig, .contact{
		border-right: 1px solid #717070;
	}
	/*Styling af subnavigationen*/
	.subnavigation{
		position: relative;
		float: right;
		left: 23.8vw;
		top: 8.3vh;
	}
	.subnavigation a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 0.8125em; /*0.8125em = 13px*/
		text-decoration: none;
	}
	.subnavigation a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.brand, .fotos, .apps, .online{
		border-left: 1px solid #717070;
	}
	.streg{
		border-bottom: 2px solid #717070;
		width: 97vw;
		position: relative;
		display: flex;
		left: 1vw;
		top: 4.4vh;
	}
	/*Tilpasning af gridet på siden*/
	.p-link{
		left: 2.5vw;
	}
	.a-link{
		left: 4.5vw;
	}
}
/*Landscape version one - det vil sige under 808 px*/
@media screen and (min-width:769px) and (max-width: 807px){
	body{
		background-image: url("../images/baggrunde/tablet-landscape-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 650px 508px;
		width: 100vw;
		height: 100vh;
	}
	nav{
		display: inline-flex;
	}
	.soegefelt{
		display: inline-flex;
		position: absolute;
		float: right;
		right: 1%;
	}
	/*Tilpasning af positioneringen af søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 2.7vh;
		margin-left: 7.5vw;
	}
	.lup-picturebox{
		margin-top: 0.2vh;
		width: 100%;
	}
	.lup-picturebox:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Styling af hovednavigationen*/
	nav{
		position: relative;
		float: right;
		right: 8vw;
		top: 4vh;
	}
	nav a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 1em; /*1em = 16px*/
		font-weight: 700;
		text-decoration: none;
	}
	nav a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.home, .projects, .mig, .contact{
		border-right: 1px solid #717070;
	}
	/*Styling af subnavigationen*/
	.subnavigation{
		position: relative;
		float: right;
		right: 11.6vw;
		top: 5.5vh;
	}
	.subnavigation a{
		padding-right: 1vw;
		padding-left: 1vw;
		color: #414040;
		font-family: raleway, sans-serif;
		font-size: 0.8125em; /*0.8125em = 13px*/
		text-decoration: none;
	}
	.subnavigation a:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.brand, .fotos, .apps, .online{
		border-left: 1px solid #717070;
	}
	.streg{
		border-bottom: 2px solid #717070;
		width: 97vw;
		position: relative;
		display: flex;
		left: 1vw;
		top: 1.4vh;
	}
	.b-link{
		left: 5vw;
	}
	.f-link{
		right: 3vw;
	}
	.a-link{
		left: 3.5vw
	}
	.p-link{
		left: 1vw;
	}
	.o-link{
		left: 11vw;
	}
}
/*Tablet version - det vil sige under 768 px men over 576 px*/
@media screen and (min-width: 576px) and (max-width: 768px){
	/*Indsættelse af baggrund og tilpasning*/
	body{
		background-image: url("../images/baggrunde/tablet-baggrund.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: bottom left;
		background-size: 600px 508px;
		width: 100vw;
		height: 100vh;
	}
	/*Synliggør burgermenu og søgefelt*/
	.burgernavigation{
		display: contents;
	}
	.soegefelt{
		display: contents;
	}
	/*Justering og styling af burgermenu og søgefelt*/
	.lup-picturebox:hover, .burgermenu:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.lup-picturebox{
		width: inherit;
		margin-right: 4vw;
	}
	.burgermenu{
		right: 2vw;
	}
	/*usynliggør streg og subnavigation*/
	.streg{
		display: none;
	}
	.subnavigation{
		display: none;
	}
	/*Tilpasning af positioneringen af burgermenuen, søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 2.7vh;
		margin-left: 9.5vw;
	}
	/*Tilpasning af grid*/
	.portfolio{
		right: 12vw;
		width: 33.33vw;
		height: 33.33vh;
	}
	.screenshot{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.p-link{
		font-size: 1.2em;
		top: 5vh;
		left: 2vw;
	}
	.brands{
		left: 12vw;
		width: 33.33vw;
		height: 33.33vh;
	}
	.m{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.b-link{
		font-size: 1.2em;
		top: 5vh;
		left: 10vw;
	}
	.applikation{
		left: 12vw;
		top: 64vh;
		width: 33.33vw;
		height: 33.33vh;
	}
	.myhome{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.a-link{
		font-size: 1.2em;
		top: 5vh;
		left: 7vw;
	}
	.fotografi{
		right: 12vw;
		top: 64vh;
		width: 33.33vw;
		height: 33.33vh;
	}
	.kamera{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.f-link{
		font-size: 1.2em;
		top: 5vh;
		left: 8vw;
	}
	.solutions{
		left: 12vw;
		top: 103vh;
		width: 74vw;
		height: 33.33vh;
		margin-bottom: 2vh;
	}
	.sweetbot{
		width: 70vw;
		height: 20vh;
		left: 2vw;
		top: 2vh;
	}
	.o-link{
		font-size: 1.2em;
		top: 5vh;
		left: 24vw;
	}
}
/*Mini tablet version - det vil sige under 575 px men over 480 px*/
@media screen and (min-width: 480px) and (max-width: 575px){
	/*Indsættelse af baggrund og tilpasning*/
	body{
		background-image: url("../images/baggrunde/tablet-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-attachment: fixed;
		background-size: 450px 508px;
		width: 100vw;
		height: 100vh;
	}
	/*Synliggør burgermenu og søgefelt*/
	.burgernavigation{
		display: contents;
	}
	.soegefelt{
		display: contents;
	}
	/*usynliggør streg og subnavigation*/
	.streg{
		display: none;
	}
	.subnavigation{
		display: none;
	}
	/*Tilpasning af positioneringen af burgermenuen, søgefeltet og logotypen(cph-type)*/
	.cph-type{
		margin-top: 2.7vh;
		margin-left: 11vw;
	}
	.lup-picturebox{
		margin-top: 0.5vh;
		width: inherit;
	}
	.burgermenu{
		top: 1vh;
		right: 2vw;
	}
	.lup-picturebox:hover, .burgermenu:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	/*Tilpasning af grid*/
	.portfolio{
		right: 12vw;
		width: 33.33vw;
		height: 33.33vh;
	}
	.screenshot{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.p-link{
		font-size: 1em;
		top: 4vh;
		left: 2.5vw;
	}
	.brands{
		left: 12vw;
		width: 33.33vw;
		height: 33.33vh;
	}
	.m{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.b-link{
		font-size: 1.2em;
		top: 3vh;
		left: 10vw;
	}
	.applikation{
		left: 12vw;
		top: 64vh;
		width: 33.33vw;
		height: 33.33vh;
	}
	.myhome{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.a-link{
		font-size: 1.2em;
		top: 3vh;
		left: 6vw;
	}
	.fotografi{
		right: 12vw;
		top: 64vh;
		width: 33.33vw;
		height: 33.33vh;
	}
	.kamera{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.f-link{
		font-size: 1.2em;
		top: 3vh;
		left: 7.5vw;
	}
	.solutions{
		left: 12vw;
		top: 103vh;
		width: 74vw;
		height: 33.33vh;
		margin-bottom: 2vh;
	}
	.sweetbot{
		width: 70vw;
		height: 20vh;
		left: 2vw;
		top: 2vh;
	}
	.o-link{
		font-size: 1.2em;
		top: 3vh;
		left: 24vw;
	}
}
/*SmartPhone version - det vil sige under 480 px*/
@media screen and (max-width: 479px){
	/*Indsættelse af baggrund og styling til ingen gentagelser*/
	body{
		background-image: url("../images/baggrunde/iphone-baggrund.jpg");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-attachment: fixed;
		background-size: 400px 500px;
		width: 100vw;
		height: 100vh;
	}
	/*Synliggør burgermenu og søgefunktion*/
	.burgernavigation{
		display: contents;
	}
	.soegefelt{
		display: contents;
	}
	/*usynliggør streg og subnavigation*/
	.streg{
		display: none;
	}
	.subnavigation{
		display: none;
	}
	/*Justering og styling af burgermenu og søgefelt*/
	.lup-picturebox:hover, .burgermenu:hover{
		background-color: rgba(131, 0, 0, 0.3);
	}
	.lup-picturebox{
		width: inherit;
		margin-right: 5vw;
	}
	.burgermenu{
		right: 2vw;
	}
	/*Tilpasning af grid*/
	.portfolio{
		right: 12vw;
		width: 33.33vw;
		height: 33.33vh;
	}
	.screenshot{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.p-link{
		font-size: 1.2em;
		text-align: center;
		top: 3vh;
		left: 1vw;
	}
	.brands{
		left: 12vw;
		width: 33.33vw;
		height: 33.33vh;
	}
	.m{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.b-link{
		font-size: 1.2em;
		top: 5vh;
		left: 7vw;
	}
	.applikation{
		left: 12vw;
		top: 64vh;
		width: 33.33vw;
		height: 33.33vh;
	}
	.myhome{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.a-link{
		font-size: 1.2em;
		top: 5vh;
		left: 3vw;
	}
	.fotografi{
		right: 12vw;
		top: 64vh;
		width: 33.33vw;
		height: 33.33vh;
	}
	.kamera{
		width: 30vw;
		height: 20vh;
		left: 1.5vw;
		top: 2vh;
	}
	.f-link{
		font-size: 1.2em;
		top: 5vh;
		left: 5vw;
	}
	.solutions{
		left: 12vw;
		top: 103vh;
		width: 74vw;
		height: 33.33vh;
		margin-bottom: 2vh;
	}
	.sweetbot{
		width: 70vw;
		height: 20vh;
		left: 2vw;
		top: 2vh;
	}
	.o-link{
		font-size: 1.2em;
		top: 5vh;
		left: 20vw;
	}
}
